<?xml version="1.0"?>
<config>
	<global>
		<models>
			<productslider>
				<class>Wm_Productslider_Model</class>
			</productslider>
		</models>
		<blocks>
			<productslider>
				<class>Wm_Productslider_Block</class>
			</productslider>
		</blocks>
		<helpers>
			<productslider>
				<class>Wm_Productslider_Helper</class>
			</productslider>
		</helpers>
		<resources>
			<productslider_setup>
				<setup>
					<module>Wm_Productslider</module>
				</setup>
			</productslider_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<productslider>
				<use>standard</use>
				<args>
					<module>Wm_Productslider</module>
					<frontName>productslider</frontName>
				</args>
			</productslider>
		</routers>
		<layout>
			<updates>
				<productslider module="Wm_Productslider">
					<file>wm/productslider.xml</file>
				</productslider>
			</updates>
		</layout>
		<translate>
			<modules>
				<Wm_Productslider>
					<files>
						<default>Wm_Productslider.csv</default>
					</files>
				</Wm_Productslider>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Wm_Productslider>
					<files>
						<default>Wm_Productslider.csv</default>
					</files>
				</Wm_Productslider>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productslider_cfg translate="title" module="productslider">
											<title>Products Slider</title>
										</productslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<productslider_cfg module="productslider">
			<general>
				<title>Products Slider</title>
			</general>
			<product_selection>
				<product_source>catalog</product_source>
				<product_category></product_category>
				<product_ids></product_ids>
				<product_order_by>random</product_order_by>
				<product_order_dir>ASC</product_order_dir>
				<product_limitation>12</product_limitation>
			</product_selection>
			<effect_slider>
            	<duration>800</duration>
            	<items_scroll>1</items_scroll>
				<navigation>1</navigation>
				<auto>1</auto>
				<loader>1</loader>
			</effect_slider>
			<product_display_setting>
				<product_image_disp>1</product_image_disp>
				<product_image_width>135</product_image_width>
				<product_image_height>135</product_image_height>
				<product_title_disp>1</product_title_disp>
				<product_title_max_length>25</product_title_max_length>
				<product_description_disp>1</product_description_disp>
				<product_description_src>short_description</product_description_src>
				<product_description_strip_tags>0</product_description_strip_tags>
				<product_description_keep_tags></product_description_keep_tags>
				<product_description_max_length>40</product_description_max_length>
				<product_price_disp>1</product_price_disp>
				<product_rating_summary>1</product_rating_summary>
				<product_cart_or_status>1</product_cart_or_status>
				<product_addtocompare>1</product_addtocompare>
				<product_addtowishlist>1</product_addtowishlist>
			</product_display_setting>
			<advanced>
                <include_jquery>1</include_jquery>
            </advanced>
		</productslider_cfg>
	</default>
</config>