<?xml version="1.0"?>
<config>
    <modules>
        <Wm_SlideShow>
            <version>1.0</version>
        </Wm_SlideShow>
    </modules>
    <global>
        <models>
            <slideshow>
                <class>Wm_SlideShow_Model</class>
            </slideshow>
        </models>
        <blocks>
            <slideshow>
                <class>Wm_SlideShow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Wm_SlideShow_Helper</class>
            </slideshow>
        </helpers>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Wm_SlideShow</module>
                </setup>
            </slideshow_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Wm_SlideShow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <layout>
            <updates>
                <slideshow module="Wm_SlideShow">
                    <file>wm/slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
        <translate>
            <modules>
                <Wm_SlideShow>
                    <files>
                        <default>Wm_SlideShow.csv</default>
                    </files>
                </Wm_SlideShow>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Wm_SlideShow>
                    <files>
                        <default>Wm_SlideShow.csv</default>
                    </files>
                </Wm_SlideShow>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <slideshow_cfg translate="title" module="slideshow">
                                            <title>Slideshow Configuration</title>
                                        </slideshow_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <slideshow_cfg>
            <general>
                <title>SlideShow</title>
            </general>
            <slideshow_effect>
                <autoplay>1</autoplay>
                <timeout>8000</timeout>
                <controls>1</controls>
                <pager>0</pager>
                <fullWidth>1</fullWidth>
                <hDimensions>500</hDimensions>
                <wDimensions>1170</wDimensions>
            </slideshow_effect>
            <banner_selection>
                <html_slides></html_slides>
            </banner_selection>
            <advanced>
                <include_jquery>1</include_jquery>
                <pretext></pretext>
                <posttext></posttext>
            </advanced>
        </slideshow_cfg>
    </default>
</config>